<!DOCTYPE html>
<html>

	<head>
		<title></title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../Css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../Css/bootstrap-responsive.css" />
		<link rel="stylesheet" type="text/css" href="../Css/style.css" />
		<script type="text/javascript" src="../Js/jquery.js"></script>
		<script type="text/javascript" src="../Js/bootstrap.js"></script>
		<script type="text/javascript" src="../Js/ckform.js"></script>
		<script type="text/javascript" src="../Js/common.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script  type="text/javascript" src="../allvariable.js"></script>

		<style type="text/css">
			body {
				padding-bottom: 40px;
			}

			.sidebar-nav {
				padding: 9px 0;
			}

			@media (max-width: 980px) {

				/* Enable use of floated navbar text */
				.navbar-text.pull-right {
					float: none;
					padding-left: 5px;
					padding-right: 5px;
				}
			}
		</style>
	</head>

	<body>
		<div id="app">
			<div style="margin-top: 20px; margin-left: 25px;">
				<select v-model="type">
					<option value="photoName">图片名称</option>
					<option value="photoId">图片id</option>
				</select>
				<input v-model="searchKey" type="text" class="abc input-default" value="">&nbsp;&nbsp;
				<button type="button" class="btn btn-primary" @click="getPhotoSearchResult">查找图片</button>
				&nbsp;&nbsp; <button type="button" class="btn btn-success" id="addphoto">添加图片</button>
			</div>
			<table class="table table-bordered table-hover definewidth m10">
				<thead>
					<tr>
						<th>图片id</th>
						<th>图片名称</th>
						<th>图片描述</th>
						<th>图片创建时间</th>
						<th>所属相册id</th>
						<th>图片原图url</th>
						<th>图片缩略图url</th>
						<th>操作</th>
					</tr>
				</thead>
				<tr v-for="(item,key) in listphotos">
					<td>{{item.photoId}}</td>
					<td>{{item.photoName}}</td>
					<td>{{item.photoDesc}}</td>
					<td>{{dateFormat(item.photoCreateTime)}}</td>
					<td>{{item.albumId}}</td>
					<td>{{item.photoOriginalUrl}}</td>
					<td>{{item.photoThumUrl}}</td>
					<td>
						<a :href="'edit.html?photoId=' + item.photoId">编&nbsp;辑</a>&nbsp;&nbsp;&nbsp;
						<a @click="show_confirm(item.photoId,item.photoName,item.photoOriginalUrl,item.photoThumUrl)">删&nbsp;除</a>
					</td>
				</tr>
			</table>
			<button style="margin-top: 30px; " class="btn-block" @click="addpage">查看更多</button>
		</div>
	</body>

</html>
<script>
	var app = new Vue({
		el: '#app',
		data: {
			type: "photoName",
			searchKey: "",
			listphotos: [],
			page: 1,
			pageConut: 5
		},
		mounted: function() {
			this.getPhoto();
		},
		methods: {
			getPhotoSearchResult: function() { //查找单张照片
				// var url = URL+"photo/" + this.type + "?params=" + this.searchKey;
                var url = "/gdpi/photo/" + this.type + "?params=" + this.searchKey;

                var _self = this;
				$.get(url, function(data) {
					_self.listphotos = data.data;
				})
			},
			getPhoto: function() { //查找所有照片
				// var url = URL+"photo/" + this.pageConut + "/" + this.page;
                var url = "/gdpi/photo/" + this.pageConut + "/" + this.page;

                var _self = this;
				$.get(url, function(data) {
					_self.listphotos = data.data;
				})
			},
			addpage: function() { //查看更多
				this.page = this.page + 1;
				// var url = URL+"photo/" + this.pageConut + "/" +this.page;
                var url ="/gdpi/photo/" + this.pageConut + "/" +this.page;

                var _self = this;
				$.get(url, function(data) {
					// this.arr.concat(anotherArr);
					_self.listphotos = _self.listphotos.concat(data.data);
					//console.log(this.page);
					
				})
			},
			show_confirm: function(photoId, photoOriginalUrl, photoThumUrl) { //删除单张照片确认框
				var r = confirm("确定要删除该照片？");
				if (r == true) {
					this.delectPhoto(photoId, photoOriginalUrl, photoThumUrl);
					location. reload();//刷新当前页面
				} else {
					alert("已取消");
				}
			},
			delectPhoto: function(photoId,photoName, photoOriginalUrl, photoThumUrl) { //删除单张照片
				$.ajax({				
					// url: URL+"photo?photoId=" + photoId +"&photoName="+photoName+"&photoOriginalUrl=" + photoOriginalUrl +
                    url: "/gdpi/photo?photoId=" + photoId +"&photoName="+photoName+"&photoOriginalUrl=" + photoOriginalUrl +

                "&photoThumUrl=" + photoThumUrl,
					type: 'DELETE',
					success: function(result) {
						alert(result.msg);
					}
				});
			},
			//时间格式化函数，此处仅针对yyyy-MM-dd hh:mm:ss 的格式进行格式化
			dateFormat: function(time) {
				var date = new Date(time);
				var year = date.getFullYear();
				/* 在日期格式中，月份是从0开始的，因此要加0
				 * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
				 * */
				var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
				var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
				var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
				var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
				var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
				// 拼接
				return year + "-" + month + "-" + day + " " + hours + ":" + minutes + ":" + seconds;
			}
		}

	});


	$(function() {
		$('#addphoto').click(function() { //添加图片

			window.location.href = "add.html";
		});

	});

</script>
