.mgt10 {
    margin-top: 10px;
}

.mgt30 {
    margin-top: 30px;
}

.mgt50 {
    margin-top: 50px;
}
.text_label {

     font-weight: 600;
 }

.classify ul li {
    list-style: none;
    float: left;
    margin-left: 30px;
    color: #888;
}

.li_acitve {
    color: #000 !important;
    border-bottom:4px #dda37a solid;
}