<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--注册Dao-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
        <property name="basePackage" value="com.ydb.dao"></property>
    </bean>
    <!--注册缓存处理切面-->
    <bean id="photoCacheAspect" class="com.ydb.aspect.QueryPhotoCacheAspect"></bean>
    <bean id="commentCacheAspect" class="com.ydb.aspect.QueryCommentCacheAspect"></bean>
    <bean id="personCacheAspect" class="com.ydb.aspect.QueryPersonCacheAspect"></bean>
    <!--aspectj织入切面-->
    <!--<aop:config>-->
        <!--&lt;!&ndash;定义IPhotoDao切入点&ndash;&gt;-->
        <!--<aop:pointcut id="photoDaoPoincut_insertPhoto"-->
                      <!--expression="execution(* com.ydb.dao.IPhotoDao+.insertPhoto(..))"></aop:pointcut>-->
        <!--<aop:pointcut id="photoDaoPoincut_deletePhoto"-->
                      <!--expression="execution(* com.ydb.dao.IPhotoDao+.deletePhoto(..))"></aop:pointcut>-->
        <!--<aop:pointcut id="photoDaoPoincut_updatePhoto"-->
                      <!--expression="execution(* com.ydb.dao.IPhotoDao+.updatePhoto(..))"></aop:pointcut>-->
        <!--<aop:pointcut id="photoDaoPoincut_selectPhoto"-->
                      <!--expression="execution(* com.ydb.dao.IPhotoDao+.selectPhoto*(..))"></aop:pointcut>-->
        <!--&lt;!&ndash;织入IPhotoDao切面&ndash;&gt;-->
        <!--<aop:aspect ref="photoCacheAspect">-->
            <!--<aop:around method="updateCache" pointcut-ref="photoDaoPoincut_insertPhoto"></aop:around>-->
            <!--<aop:around method="deleteCache" pointcut-ref="photoDaoPoincut_deletePhoto"></aop:around>-->
            <!--<aop:around method="updateCache" pointcut-ref="photoDaoPoincut_updatePhoto"></aop:around>-->
            <!--<aop:around method="queryCacheBeforeSelectDao" pointcut-ref="photoDaoPoincut_selectPhoto"></aop:around>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->
    <!--<aop:config>-->
        <!--&lt;!&ndash;定义ICommentDao切入点&ndash;&gt;-->
        <!--<aop:pointcut id="commentDaoPoincut_updateComment"-->
                      <!--expression="execution(* com.ydb.dao.ICommentDao+.addComment(..))"></aop:pointcut>-->
        <!--<aop:pointcut id="commentDaoPoincut_deleteComment"-->
                      <!--expression="execution(* com.ydb.dao.ICommentDao+.deleteComment(..))"></aop:pointcut>-->
        <!--<aop:pointcut id="commentDaoPoincut_selectComment"-->
                      <!--expression="execution(* com.ydb.dao.ICommentDao+.selectCommentByPhotoId*(..))"></aop:pointcut>-->
        <!--&lt;!&ndash;织入ICommentDao切面&ndash;&gt;-->
        <!--<aop:aspect ref="commentCacheAspect">-->
            <!--<aop:around method="updateCache" pointcut-ref="commentDaoPoincut_updateComment"></aop:around>-->
            <!--<aop:around method="deleteCache" pointcut-ref="commentDaoPoincut_deleteComment"></aop:around>-->
            <!--<aop:around method="queryCacheBeforeSelectDao" pointcut-ref="commentDaoPoincut_selectComment"></aop:around>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->
    <!--<aop:config>-->
        <!--&lt;!&ndash;定义IPersonDao切入点&ndash;&gt;-->
        <!--<aop:pointcut id="personDaoPoincut_updatePerson"-->
                      <!--expression="execution(* com.ydb.dao.IPersonDao+.updatePerson(..))"></aop:pointcut>-->
        <!--<aop:pointcut id="personDaoPoincut_insertPerson"-->
                      <!--expression="execution(* com.ydb.dao.IPersonDao+.insertPerson(..))"></aop:pointcut>-->
        <!--<aop:pointcut id="personDaoPoincut_deletePerson"-->
                      <!--expression="execution(* com.ydb.dao.IPersonDao+.deletePerson(..))"></aop:pointcut>-->
        <!--<aop:pointcut id="personDaoPoincut_selectPerson"-->
                      <!--expression="execution(* com.ydb.dao.IPersonDao+.queryPerson*(..))"></aop:pointcut>-->
        <!--&lt;!&ndash;织入IPersonDao切面&ndash;&gt;-->
        <!--<aop:aspect ref="personCacheAspect">-->
            <!--<aop:around method="updateCache" pointcut-ref="personDaoPoincut_updatePerson"></aop:around>-->
            <!--<aop:around method="updateCache" pointcut-ref="personDaoPoincut_insertPerson"></aop:around>-->
            <!--<aop:around method="deleteCache" pointcut-ref="personDaoPoincut_deletePerson"></aop:around>-->
            <!--<aop:around method="queryCacheBeforeSelectDao" pointcut-ref="personDaoPoincut_selectPerson"></aop:around>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->
</beans>