<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../Css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../Css/bootstrap-responsive.css"/>
    <link rel="stylesheet" type="text/css" href="../Css/style.css"/>
    <script type="text/javascript" src="../Js/jquery.js"></script>
    <script type="text/javascript" src="../Js/bootstrap.js"></script>
    <script type="text/javascript" src="../Js/ckform.js"></script>
    <script type="text/javascript" src="../Js/common.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="../allvariable.js"></script>


    <style type="text/css">
        body {
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {

            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
</head>
<body>
<div id="app">
    <form class="definewidth m20">
        <input type="hidden" name="_method" value="PUT">
        <table class="table table-bordered table-hover definewidth m10">
            <tr>
                <td width="10%" class="tableleft">用户id</td>
                <td><input v-model="listPerson.personId" readonly="readonly" type="text" name="personId"/></td>
            </tr>
            <tr>
                <td width="10%" class="tableleft">用户名称</td>
                <td><input v-model="listPerson.personName" type="text" name="personName"/></td>
            </tr>
            <tr>
                <td width="10%" class="tableleft">用户密码</td>
                <td><input type="text" v-model="listPerson.personName"  name="personPassword"/></td>
            </tr>
            <tr>
                <td class="tableleft"></td>
                <td>
                    <button @click="submitForm()" class="btn btn-primary">保存</button> &nbsp;&nbsp;
                    <button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            listPerson: [],
        },
        mounted: function () {
            var personName = this.GetRequest().personName; //拿到对应id
            this.getPersonSearchResult(personName);
            console.log(personName)
        },
        methods: {
            getPersonSearchResult: function (personName) { //查找单个用户
                var url = URL + "person?personName=" + personName;
                var _self = this;
                $.get(url, function (data) {
                    _self.listPerson = data.data[0];
                })
            },
            GetRequest: function () {
                var url = location.search; //获取url中"?"符后的字串
                var theRequest = new Object();
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1);
                    strs = str.split("&");
                    for (var i = 0; i < strs.length; i++) {
                        theRequest[strs[i].split("=")[0]] = decodeURIComponent(strs[i].split("=")[1]);
                    }
                }
                return theRequest;
            },
            submitForm: function () {
                $.ajax({
                    url: "/gdpi/person",
                    type: 'put',
                    data: {
                        "personId": this.listPerson.personId,
                        "personName": this.listPerson.personName,
                        "personPassword": this.listPerson.personPassword
                    },
                    success: function (result) {
                        alert(result.msg);
                        location.reload();//刷新当前页面
                    }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("修改失败！！");
                    }
                });
            }
        }
    });
    $(function () {
        $('#backid').click(function () {
            window.location.href = "index.html";
        });

    });
</script>
