<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>500异常页面</title>
</head>
<body>
<div style="    height: 500px;
    width: 100%;
    background-position: bottom;
    background-image: url('./1545788695(1).jpg');
    background-repeat: no-repeat;">
</div>
<!--<div th:inline="text">响应状态码:[[${error.status}]]</div>-->
<!--<div th:inline="text">错误信息:[[${error.msg}]]</div>-->
<!--<div th:inline="text">异常对象名:[[${error.exception.exceptionName}]]</div>-->
<!--<div th:inline="text">异常信息:[[${error.exception.excetionMessage}]]</div>-->
<!--<div th:inline="text">错误时间:[[${error.exception.time}]]</div>-->
</body>
</html>